<h1>Create message:</h1>

<form method="POST" action="/new">
  <input type="text" id="user" name="user" placeholder="User">
  <input type="text" id="message" name="message" placeholder="Message">

  <button type="submit">Send</button>
</form>