<div class="message" id="<%= message.id %>">
  <p class="author">
    <%= message.username %>
  </p>

  <p class="text">
    <%= message.text %>
  </p>

  <p class="date">
    <%= message.added %>
  </p>

  <a href="/" class="home">Go back!</a>
</div>